:root {
  // Pallete
  --magnolia: #eae4e9;
  --linen: #fff1e6;
  --pale-pink: #fde2e4;
  --mimi-pink: #fad2e1;
  --mint-cream: #e2ece9;
  --powder-blue: #bee1e6;
  --isabelline: #f0efeb;
  --lavender-web: #dfe7fd;
  --periwinkle-crayola: #cddafd;
  --independence: #3d405b;
  // Variables
  --header-height: 60px;
  --container-width: 1200px;
  --main-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  --background-color: var(--linen);
  --border-color: rgb(213, 213, 213);
  --white: rgb(255, 255, 255);
  --light-blue: rgb(231, 229, 244);
  --black: #292929;
  --primary: #00364d;
  --primary-hover: rgba(0, 54, 77, 0.8);
  --color-secondary: #10162f;
}
